/* !testing */
/* The Modal (background) */
.popup1, .popup2, .popup3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* popup Content */
  .popup-content{
    background-color: #152028;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    font-size: 1.1rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-align: center;
  }
 .popup-content2, .popup-content3  {
    background-color: #ffffff;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    font-size: 1.1rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    text-align: center;
  }
  .popup-content p, .popup-content2 p, .popup-content3 p {
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
  
  /* The Close Button */
  .close {
    padding: 0.6rem 1.5rem;
    margin: 2rem 1rem 1rem 1rem;
    /* opacity: 0; */
    border: none;
    outline: none;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
    color: #000000;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    letter-spacing: 2px;
  }
  .close-btn2 {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
  }
  .close:hover,
  .close:focus {
    background-color: #ffffff;
    color: #000000;
  }
  .btn-light:hover,
  .btn-light:focus {
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  
  .general-close-btn {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid rgb(0, 0, 0);
    outline: none;

  }
  .general-close-btn-dark {
    color: #000000;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
  }
  
  .general-close-btn:hover,
  .general-close-btn:focus {
    background: transparent;
  }
  .general-close-btn-dark:hover,
  .general-close-btn-dark:focus {
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  

  /* for dark mode popup content for not adding values */
  .popup-content3-dark {
    background-color: #152028;
    color: white;
  }
.close-btn3-dark {
  color: #000000;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
}
.close-btn3-dark:hover,
.close-btn3-dark:focus {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid rgb(255, 255, 255);
}


/*! generaal popup starts */
.general-popup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  /* Location of the box */
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

}
.blank-div {
  height:65%;
  width: 100%;
}
.general-div {
  height:35%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content-general{
  height: 70%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  font-size: 1.1rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 1rem;
}

.popup-content-general-light {
  background-color: #152028;
  color: white;
}

.popup-content-general p {
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 3px;
}

/*! generaal popup ends */




  /* ? FOR RESPONSIVE */
  @media only screen and (max-width: 1320px) {
    .popup-content, .popup-content2, .popup-content-general {
      text-align: center;
      width: 80%;
    }
    .blank-div {
      height: 65%;
    }
    .general-div {
      height: 35%;
    }
  }

  @media only screen and (max-width: 695px) {
    .general-close-btn {
      margin: 0.5rem;
    }
    .blank-div {
      height: 60%;
    }
    .general-div {
      height: 40%;
    }

  }

  @media only screen and (max-width: 530px) {
    .general-close-btn {
      margin: 0.8rem 0.5rem 0.5rem 0.5rem;
    }
    .blank-div {
      height: 55%;
    }
    .general-div {
      height: 45%;
    }
    .popup-content-general p {
      font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 433px) {
    .blank-div {
      height: 50%;
    }
    .general-div {
      height: 50%;
    }
  }
