* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: "Poppins", sans-serif;

  scroll-behavior: smooth;
}
.container {
  width: 100%;
  height: 100%;
  background: #e0e6e9;

  
  
}
/* SCROLL BAR STARTS */
/* width */
::-webkit-scrollbar {
  width: 12px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 15px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 15px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #9b9b9b;
}

/* SCROLL BAR ENDS */

/* header section starts */
.header {
  width: 100%;
  height: auto;
  display: flex;

   /* for gradient border */
   border-bottom: 2px solid transparent;
   border-image: linear-gradient(to right, rgb(56, 83, 233), rgb(255, 67, 155));
   border-image-slice: 1;

  background: #e0e6e9;
}

.header-text {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  letter-spacing: 0.6rem;
  cursor: pointer;
}

.dark-mode-button {
  height: 2rem;
  width: 2rem;
  margin: 0.5rem 1rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #e0e6e9;
  font-size: 1.1rem;
  margin-left: auto;
  cursor: pointer;
}

/* to remove the moon title from the ionions icon */
ion-icon {
  pointer-events: none;
 }

/* headert section ends */

/* heading starts */
.heading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading-content-text {
    margin: 2rem;
    font-size:1.8em;
    font-weight: 500;
}
.animate__bounce {
    animation: bounce; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    letter-spacing: 3px;
}
/* heading ends */

/* Main content starts */
.main-content-div {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content {
  height: 85%;
  width: 80%;
  border-radius: 24px;

  background: #e0e6e9;
  box-shadow:  26px 26px 50px #989c9e,
               -26px -26px 50px #ffffff;
      
}


/* inoput section starts */
.input-div {
  width: 100%;
  height:20%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items:center;
}

.input {
  margin: 0.5rem;
  padding: 0.35rem;
  width:20rem;
  border-radius: 7px;
  outline: none;
  border: 1px solid black;
  background: #e0e6e9;
}
::placeholder {
  color: rgb(65, 63, 63);
  opacity: 1;
}

.inputTime {
  margin: 0.5rem 1rem;
  padding: 0.30rem;
  width:7rem;
  border-radius: 7px;
  background: #e0e6e9;
  outline: none;
  border: 1px solid black;
}

.inputAddButton {
  margin: 0.5rem 1rem;
  padding: 0.35rem;
  width: 5rem;
  border-radius: 7px;
  color: rgb(0, 0, 0); 
  letter-spacing:1px; 
  font-weight: bold;          
  display: block;
  font-weight: 540;
  cursor: pointer;
  background: #e0e6e9;
  box-shadow:  5px 5px 10px #acb1b3,
  -5px -5px 10px #ffffff;

  outline: none;
  border: none;
  transition: all 1s;
}
.inputAddButton:hover {
 transform: scale(1.04);
}

/* input section ends */

/* to do list section starts */
.to-do-list-div {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* overflow-y: scroll; */
  max-height: 80%;
}

/* adding list section starts */
ul {
  margin: 1rem;
  width: 80%;
  overflow-y: scroll;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items:center;
}
li {
  width: 90%;
  max-width: 90%;
  height: auto;
  list-style: none;
  margin: 0.8rem;
  padding: 0.5rem;
  /* background: #e0e0e0; */
  
  box-shadow:  5px 5px 8px #bebebe,
  -5px -5px 8px #ffffff;
  border-radius: 10px;
  display: flex;
  transition: all 0.5s;
  cursor: pointer;
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
}
li:hover {
  box-shadow:  7px 7px 21px #bebebe,
  -7px -7px 21px #ffffff;
  transform: scale(1.02);
}
.list-number, .time-list {
  margin: 1rem 2rem;
  margin-right: auto;
  font-weight:600;
}
.main-list-content {
  margin: 1rem;
}

.fa-check, .fa-trash-alt, .fa-redo-alt {
  margin: 1rem 2rem;
  margin-left: auto;
  cursor: pointer;
} 
.fa-redo-alt {
  transition: all 0.3s linear;
}
.fa-redo-alt:hover {
  transform:rotate(70deg);
}
.fa-check:hover {
  color: rgb(0, 223, 0);
}
.fa-trash-alt:hover {
  color: red;
}

.right{
  margin-right: auto;
  display: flex;
  align-items:center;
}
.middle{
  display: flex;
  align-items:center;
  flex-wrap: wrap;
}
.left {
  margin-left:auto;
  display: flex;
  align-items:center;
}
/* adding list section ends */

/* to do list section ends */


/* main content ends */

.toggle {
  text-decoration: line-through;
  font-size: 900;
  color: rgb(0, 190, 41);
}


